html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #646464;
  color: #fff;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  padding: 0;
}

.wrapper {
  flex: 1 0 auto;
  margin: auto;
  min-width: 1200px;
}
.page-header {
  padding: 10px;
}
.main {
  padding: 10px;
}

.page-footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}